/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #2fb913;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #333;
}

.endereco {
    display: flex;
    align-items: center;
}

.endereco h2 {
    margin-right: 30px; /* Espaço entre o título e a imagem */
}


/* Estilos para o formulário */
form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 250px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para o indicador de carregamento */
.hidden {
    display: none;
}

#loadingIndicator {
    text-align: center;
}

#loadingIndicator img {
    width: 50px;
    height: 50px;
}

/* Estilos para o card de endereço */
#enderecoCard {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
}

td {
    padding: 5px;
}

strong {
    font-weight: bold;
}

/* Estilos responsivos */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
}
